{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank You
{% endblock %}

{{ block content }}
  <p>Thank you for playing.</p>

  <p>To complete the study and return to prolific please <a href="https://app.prolific.co/submissions/complete?cc=CTJ7Z5D6">click here</a></p>

  <h3>About The Study</h3>

  <p>The goal of this study was to understand how people reason about rare events with extreme consequences (the ‘extinction’ event). In particular, how participants' inclination to choose the risky option depends on 1) whether they are playing in a group or individually, 2) whether groups do better when voting together on actions or acting independently 3) how people respond to information about the possible outcomes of the game.

  <p>You can find more information about global catastrophic risks <a href="https://en.wikipedia.org/wiki/Global_catastrophic_risk">here</q> and more information about risk perception <a href="https://en.wikipedia.org/wiki/Risk_perception">here</a>.</p>
    
{{ endblock }}