{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
  Information and Consent
{{ endblock }}
{{ block content }}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <img class="banner" src="{{ static 'resources/ucl-banner.png' }}"/>
    
    <p>
      This study has been approved by the Ethics Committee of the UCL Research Department of Experimental Psychology, ID No: XXXXXXX
</p>
<p>
Name, Address and Contact Details of investigators:
<ul>
<li>Investigator: Maximilian Maier, Dept of Experimental Psychology, m.maier@ucl.ac.uk</li>
</ul>
</p>
<p>
You are being invited to take part in a research study. All proposals for research using human participants are reviewed by an ethics committee before they can proceed. This proposal was reviewed by the Ethics Committee of the UCL Department of Experimental Psychology. Take time to decide whether or not you wish to take part. If you do decide to take part you will be asked to consent, and any information you give will be treated in strictest confidence. It is up to you whether or not you take part. Before you agree, it is important for you to read the following information carefully and ask us if there is anything that is not clear or if you would like more information.
</p>
<h2>What is the purpose of the study?</h2>
<p>
We are investigating how people choose among lottery options if the options are presented sequentially. The experiment comprises a single session lasting up to 10 min. In each trial, you will decide between a safe lottery and a risky lottery. All the instructions will be presented on the display and the computer will store your responses.
</p>

<h2>What are the possible disadvantages and risks of taking part?</h2>
<p>
We advise against participation if you have or had problems with gambling (i.e., gambling addiction) at any point in your life.
At one point during the experiment, you may view a picture of a mushroom cloud. If you are not comfortable with this, please do not continue.
What are the possible benefits of taking part?
</p>
<p>
It is hoped that this work will inform the application of research in the area of psychology and help us understand how people make risky choices. Further, you will be paid and also receive a bonus, which depends on your responses.
</p>
<h2>
What happens if I do not want to take part in the study?
</h2>
<p>
You do not have to take part in this study if you do not want to do so. Choosing not to take part will not disadvantage you in any way. If you decide to, you may withdraw at any time without giving a reason by simply closing the browser. If you decide to withdraw, the data you have provided up to that point will be destroyed.
</p>
<h2>
Who will collect the information, and how will it be stored and used?
</h2>
<p>
Your information will be treated in strictest confidence. All data collected as part of this research will be anonymized and handled and stored in compliance with the General Data Protecting Regulation (GDPR).
</p>
<p>
Only researchers working with the research team will have access to datafiles containing identifying information (Worker ID).
</p>
<p>
Completely anonymized datafiles (no Profilic ID, no Worker ID, no IP address) will be shared online in accordance with open-science practices. If you do not consent to anonymized data being shared, please close your browser window and do not take part in this study.
</p>
<p>
Once anonimized data has been shared, it is impossible to withdraw consent for your data to be used, because the data will be anonymous at that time. Please only continue if you are happy for your anonymized data to be used in this way.
</p>
<p>
Data Protection Privacy Notice:
</p>
<p>
The controller for this project will be University College London (UCL). The UCL Data Protection Officer provides oversight of UCL activities involving the processing of personal data, and can be contacted at data-protection@ucl.ac.uk
This ‘local’ privacy notice sets out the information that applies to this particular study. Further information on how UCL uses participant information can be found in our ‘general’ privacy notice: For participants in research studies, click here.
The information that is required to be provided to participants under data protection legislation (GDPR and DPA 2018) is provided across both the ‘local’ and ‘general’ privacy notices. The lawful basis that will be used to process your personal data are: ‘Public task’ for personal data.
Your personal data will be processed so long as it is required for the research project. If we are able to anonymise or pseudonymise the personal data you provide we will undertake this, and will endeavour to minimise the processing of personal data wherever possible.
If you are concerned about how your personal data is being processed, or if you would like to contact us about your rights, please contact UCL in the first instance at data-protection@ucl.ac.uk.
</p>
<h2>What if something goes wrong?</h2>
<p>
If you would like to raise a complaint about this research, please contact the Investigator (contact details above). If you are concerned about the ethics of the research, please contact ethics@ucl.ac.uk .
</p>
<p>
Thank you for reading this information sheet and for considering taking part in this research study.
</p>

<h2>Consent</h2>

{{ formfields }}
{{ next_button }}


    </div>
  </div>
</div>

{{ endblock }}
