{% extends "global/Page.html" %}
{% load otree %}

{{ block content }}

<div>
<div class="row text-center">
    <div class="col-md-3 round-number">
        
        <div class="hidden-initially">

                <h4>Round Number</h4>
                <h2>{{ player.round_number }} of {{ C.NUM_ROUNDS }}</h2>
            </div>
        </div>
        <div class="col-md-6">
            {% if player.round_number > 1 %}
            <div id="result">
            
                {% if player.participant.last_result == '0' %}
                <div class="alert alert-secondary" role="alert">
                    0
                </div>

                {% elif player.participant.last_result == '1' %}
                <div class="alert alert-success" role="alert">
                    +1p
                </div>
                {% elif player.participant.last_result == '10' %}
                <div class="alert alert-success" role="alert">
                    +10p
                </div>
                
                {% elif player.participant.last_result == 'extinction' %}
                <div class="alert alert-danger" role="alert">
                    Extinction!
                </div>
                {% endif %}
            </div>
            
                {% if player.participant.practice_extinct %}
                    <div class="alert alert-danger" role="alert">
                        <p><strong>You are extinct!</strong> You will still need to continue playing the remaining rounds to get the base payment.
                        However, you will not earn any bonus.</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3 bonus">
            <div class="hidden-initially">

            {% if player.round_number == 1 %}
                <h4>Your Current Bonus</h4>
                <h2>0p</h2>
            {% elif player.participant.practice_extinct %}
                <h4 class="extinct-text">You Are Extinct</h4>
                <h2 class="extinct-text">0p</h2>
            {% else %}
                <h4>Your Current Bonus</h4>
                <h2>{{ player.participant.practice_current_bonus }}p</h2>
            {% endif %}

            </div>
        </div>
        
    </div>
</div>

</div>
<div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="hidden-initially hidden" id="game-screen">
            {% if player.participant.switched %}
            <img src="{{ static 'resources/game-screen-switched.png' }}" class="img-responsive img-instructions" alt="Decision Instructions"">
            {% else %}
            <img src="{{ static 'resources/game-screen.png' }}" class="img-responsive img-instructions" alt="Decision Instructions"">
            {% endif %}
        </div>
    </div>
</div>
</div>


<div class="hidden">


<form method="post" id="my_form">
    {{ form.lottery_decision }}
    <button type="submit" id="submit_button" style="display: none;"></button>
</form>

</div>

{{ endblock }}

{% block scripts %}

<script>

    document.addEventListener("keydown", function(event) {
        let elementVisible = document.getElementById("game-screen").offsetParent !== null;
        if (event.key === "j") {
    {% if player.participant.switched %}
    document.querySelector("input[value='risky']").checked = true;
    {% else %}
    document.querySelector("input[value='safe']").checked = true;
    {% endif %}
    if (elementVisible) {
      document.getElementById("submit_button").click();
    }
  } else if (event.key === "f") {
    {% if player.participant.switched %}
    document.querySelector("input[value='safe']").checked = true;
    {% else %}
    document.querySelector("input[value='risky']").checked = true;
    {% endif %}
    if (elementVisible) {
      document.getElementById("submit_button").click();
    }
  }
});
</script>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elements = document.querySelectorAll('.hidden-initially');
    elements.forEach(function(element) {
      setTimeout(function() {
        element.classList.remove('hidden');
      }, 1000); // 1000 milliseconds = 1 second
    });
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        document.getElementById('result').style.opacity = 0;
      }, 10); // Add a slight delay to start the transition
    });
  </script>

{% endblock %}
