{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
  Strategy
{{ endblock }}
{{ block content }}


  <div class="row">
    <div class="col-md-8 offset-md-2">

        
        
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
        
                <h3>Optimal Strategy</h3>
      
                <p>The strategy that pays the highest bonus, on average, is to play:</p>
                <ul>
                  <li>A total of {{ optimal_n_risky }} risky lotteries in your group over the entire game.</li>
                  <li>This works out to {{ optimal_n_risky_per_player|to1 }} risky lotteries per player over the entire game.</li>
                </ul>
                   
                <p>NOTE: There is always an element of chance in the lotteries, so you might do better or worse than the average.</p>

                <div>
      
                  <h4>Predicted Bonus (on average)</h4>
                  <script
                  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                  </script>
      
                  <canvas id="globalChart" style="width:100%;max-width:700px;height:300px"></canvas>
      
                  <script>
                  var xValues = {{ n_riskys }};
      
                  new Chart("globalChart", {
                    type: "line",
                    data: {
                      labels: xValues,
                      datasets: [{
                        data: {{ expected_values }},
                        borderColor: "#8e44ad",
                        fill: false,
                        lineTension:0,
                      }]
                    },
                    options: {
                      legend: {display: false},
                      tooltips: {
                           enabled: false
                      },
                      scales: {
                          yAxes: [{
                                    scaleLabel: {
                                    display: true,
                                    labelString: 'Predicted Total Group Bonus (p)'
                                  },
                                  display: true,
                                  
                              }],
                              xAxes: [{
                                    scaleLabel: {
                                    display: true,
                                    labelString: 'Total Group Risky Choices'
                                  },
                                  display: true,
                              }]
                      },
                    }
                  });
                  </script>
      
                </div>


            </div>
            </div>


        <div class="row">
        <div class="col-md-8 offset-md-2">


{{ next_button }}


    </div>
  </div>


{{ endblock }}
