{% extends "global/Page.html" %}
{% load otree %}

{{ block content }}

<div>
<div class="row text-center">
    <div class="col-md-3 round-number">
        
        <div>

                <h4>Round Number</h4>
                <h2>{{ player.round_number }} of {{ C.NUM_ROUNDS }}</h2>
            </div>
        </div>
            {% if player.round_number > 1 and player.participant.game_extinct %}
            <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        <p><strong>You are extinct!</strong> You will still need to continue playing the remaining rounds to get the base payment.
                        However, you will not earn the bonus.</p>
                    </div>
                </div>
            {% else %}
            <div class="col-md-3 group-info">
                {% if player.participant.information == "optimal" %}
                <div>
                    <h4>Optimal Strategy</h4>
                    <p class="margin-h2">{{ optimal_n_risky }} total risky lotteries for the group over the entire game.</p>
                </div>
                {% endif %}
                
            </div>
            <div class="col-md-3 group-info">
                <div>
                    <h4>Group Current Bonus</h4>
                    <h2>{{ player.participant.game_current_group_bonus }}p</h2>
                </div>
            </div>
            {% endif %}
            
        <div class="col-md-3 bonus">
            <div>

            {% if player.participant.game_extinct %}
                <h4 class="extinct-text">You Are Extinct</h4>
            {% else %}
                <h4>Your Current Bonus</h4>
            {% endif %}
            <h2>{{ player.participant.game_current_bonus }}p</h2>

            </div>
        </div>
        
    </div>
</div>

</div>
<div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <div id="game-screen">
            {% if player.participant.switched %}
            <img src="{{ static 'resources/game-screen-group-switched.png' }}" class="img-responsive img-instructions" alt="Decision Instructions"">
            {% else %}
            <img src="{{ static 'resources/game-screen-group.png' }}" class="img-responsive img-instructions" alt="Decision Instructions"">
            {% endif %}
        </div>
    </div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        
        {{ formfields }}

        {{ next_button }}
    </div>

</div>



{{ endblock }}


{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        document.getElementById('result').style.opacity = 0;
      }, 10); // Add a slight delay to start the transition
    });
  </script>

{% endblock %}