{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
  Instructions
{{ endblock }}
{{ block content }}


  <div class="row">
    <div class="col-md-8 offset-md-2">
      
        <p class="alert"><strong>
        Please read the below instructions carefully as there will be a comprehension check.
            </strong>
    </p>
        <p>
        In this experiment, you can get a bonus payment on top of your regular payment. This bonus will depend on your answers to a series of gambles. In each round, you will need to decide between a "safe" and a "risky" lottery. Each lottery has different reward outcomes with different probabilities of each outcome occurring.
    </p>
    
        <p>Safe Lottery:</p>

        <ul>
            <li>50% chance of winning 1p</li>
            <li>50% chance of winning 0p</li>
        </ul>
       
        <p>Risky Lottery:</p>
        
        <ul>
            <li>47.5% chance of winning 10p</li>
            <li>47.5% chance of winning 0p</li>
            <li>5% chance of <strong>extinction</strong></li>
        </ul>
        <p>
        If the <strong>extinction</strong> outcome is drawn, your bonus payment for the whole experiment will be wiped out, and you cannot get any more bonus payments for future rounds. In other words, even if the extinction outcome is drawn only once during the study, <strong>you will receive no bonus payment at all at the end of the study. However, you will still need to finish the rest of the rounds </strong> (so choosing the extinction option will not save you any time).
        </p>

        <h2>Rounds</h2>
        {% if player.participant.condition == "indy" %}
            <p><strong>You will play a total of 100 rounds.</strong></p>
        {% else %}
            <p><strong>You will play a total of 20 rounds.</strong></p>
        {% endif %}
        
    </div>
    </div>
   

        <div class="row">
        <div class="col-md-8 offset-md-2">

<h2>Quiz</h2>  

{{ formfields }}

{{ next_button }}


    </div>
  </div>


{{ endblock }}
