{% extends "global/Page.html" %}
{% load otree %}
{% load static %}

{{ block title }}  
    Practice Rounds
{{ endblock }}
{{ block content }}

 <p>To familiarise yourself with the task you begin with 20 practice rounds. The practice rounds are identical to the actual rounds later, but you will not accumulate any bonus (i.e., drawing the extinction event during the practice rounds does not preclude you from earning a bonus in the actual rounds).</p>

<p> Please click continue to start the practice rounds.</p>

{% if player.participant.condition != "indy" %}
<p><strong>NOTE: In the practice game you will not play with real people. The computer will play for the other players.</strong></p>
{% endif %}

      {{ next_button }}


{{ endblock }}
