{% extends "global/Page.html" %}
{% load otree %}
{% load static %}

{{ block title }}  
    Practice Trials
{{ endblock }}
{{ block content }}

 <p>To familiarise yourself with the task you begin with 20 practice trials. The practice trials are identical to the actual trials later, but you will not accumulate any bonus (i.e., drawing the extinction event during the practice trials does not preclude you from earning a bonus in the actual trials).</p>

<p> Please click continue to start the practice trials.</p>

      {{ next_button }}


{{ endblock }}
